@-webkit-keyframes photo{
	0%  { background: rgba(255,255,255,0); }
	100%{ background: rgba(255,255,255,0.5); }
}
@-webkit-keyframes text{
	0%  { line-height: 200px; }
	100%{ line-height: 250px; }
}
*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: "STXihei";
	height: 100%;
	background: url(../../../resource/images/background.jpg) no-repeat #fff center 0px;
	background-size: 100%;
	background-attachment: fixed;
}
img{
	border: 0px;
}
.clear{
	clear: both;
}
#warpper{
	background: rgba(0,0,0,0.3);
}
#header{
	width: 80%;
	margin: 0 auto;
	min-width: 800px;
}
#header h1{
	float: left;
	font-size: 34px;
	line-height: 140px;
}
#header h1 a{
	color: #fff;
	text-decoration: none;
}
#header ul{
	float: right;
}
#header ul li{
	float: left;
	list-style-type: none;
	line-height: 140px;
	font-size: 14px;
	padding: 0 10px;
	color: #fff;
}
#header ul li:hover{
	color: #000;
}
#header ul li a{
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	padding: 0 8px;
}
#section{
	width: 80%;
	margin: 0 auto;
	min-width: 800px;
}
#footer{
	margin-top: 40px;
	background: #000;
	min-width: 800px;
}
#footer p{
	line-height: 60px;
	text-align: center;
	color: #666;
	font-size: 12px;
}