#feel h3{
	clear: both;
	text-align: center;
	line-height: 100px;
	font-size: 30px;
	color: #fff;
	text-shadow: 0px 2px 0px #999;
	padding-top: 100px;
	font-weight: 200;
}
#feel p{
	clear: both;
	text-align: center;
	line-height: 40px;
	font-size: 10px;
	color: #ccc;
	padding-bottom: 100px;
}

#section .left{
	width: 50%;
	float: left;
}
#section .right{
	width: 50%;
	float: right;
}
#section .container{
	width: 100%;
	position: relative;

}
#section .container .content{
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	top:0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	display: none;
}
#section .container .content h3{
	text-align: center;
	color: #333;
	font-size: 20px;
	line-height: 250px;
	-webkit-animation: text 1s;
	font-weight: 100;
}
#section .container .content p{
	color: #0a0;
	text-align: center;
}
#section .container a:hover .content{
	display: block;
	-webkit-animation: photo 1s;
}
#section .container img{
	width: 100%;
	float: left;
}