*{
	margin: 0px;
	padding: 0px;
}
body{
	background: url(../../../resource/images/14.jpg) no-repeat #62778C;
	background-size: 100%;
}
.clear{
	clear: both;
}
.warpper{
	background: #56bc8a;
}
#warpper{
	
	
}
#header{
	height: 50px;
	padding-top: 10px;
	padding-right: 10px;
}
#header p{
	height: 50px;
}
#header p a{
	float: right;
	padding: 8px 30px;
	color: #fff;
	background: #1AB667;
	margin-left: 10px;
	text-decoration: none;
	border-radius: 2px;
}
#section h1{
	color: #1AB667;
	line-height: 40px;
	font-size: 60px;
	text-align: center;
	line-height: 80px;
}
#section form p{
	margin-top: 10px;
}
#section p.desc{
	text-align: center;
	line-height: 80px;
	font-size: 18px;
	color: #000;
}
#section form{
	width: 300px;
	margin: 0 auto;
}
#section form input[type=text]{
	width: 280px;
	color: #555;
	font-size: 16px;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 3px;
}
#section form input[type=submit]{
	width: 300px;
	padding: 10px 0px;
	border: none;
	font-size: 16px;
	color: #fff;
	background: #1AB667;
	border-radius: 3px;
	cursor: pointer;
}
#footer p{
	text-align: center;
	color: #a00;
	font-size: 12px;
	line-height: 20px;
}
