
#section ul.category{
	margin-top: 20px;
}
#section ul.category li{
	float: left;
	list-style-type: none;
	margin-right: 20px;
	margin-top: 10px;
}
#section .list{
	margin-top: 40px;
	background-color: #fff;
}
#section ul.category li a{
	padding: 10px 20px;
	display: block;
	border: 2px solid #fff;
	font-size: 14px;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
}
#section .list dl{
	padding: 20px 50px;
}
#section .list dl dt{
	font-size: 20px;
	line-height: 40px;
}
#section .list dl dt a{
	color: #000;
	text-decoration: none;
}
#section .list dl dt a:hover{
	color: #0b3f75;
}
#section .list dl dd{
	font-size: 12px;
	padding-bottom: 20px;
}
#section .list dl dd p.time{
	color: #0b3f75;
	line-height: 25px;
}
#section .list dl dd p.desc{
	line-height: 22px;
	color: #555;
}
