@-webkit-keyframes photo{
	0%  { background: rgba(255,255,255,0); }
	100%{ background: rgba(255,255,255,0.5); }
}
@-webkit-keyframes text{
	0%  { line-height: 200px; }
	100%{ line-height: 250px; }
}
*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: "STXihei";
	height: 100%;
	background: url(../../../resource/images/background.jpg) no-repeat #fff center 0px;
	background-size: 100%;
	background-attachment: fixed;
}
img{
	border: 0px;
}
.clear{
	clear: both;
}
#warpper{
	background: rgba(0,0,0,0.3);
}
#header{
	width: 80%;
	margin: 0 auto;
}
#header h1{
	float: left;
	font-size: 34px;
	line-height: 140px;
}
#header h1 a{
	color: #fff;
	text-decoration: none;
}
#header ul{
	float: right;
}
#header ul li{
	float: left;
	list-style-type: none;
	line-height: 140px;
	font-size: 14px;
	padding: 0 10px;
	color: #fff;
}
#header ul li:hover{
	color: #000;
}
#header ul li a{
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	padding: 0 8px;
}
#header h3{
	clear: both;
	text-align: center;
	line-height: 100px;
	font-size: 30px;
	color: #fff;
	text-shadow: 0px 2px 0px #999;
	padding-top: 100px;
}
#header p{
	clear: both;
	text-align: center;
	line-height: 40px;
	font-size: 10px;
	color: #ccc;
	padding-bottom: 100px;
}
#section{
	width: 80%;
	margin: 0 auto;
}
#section ul.category{
	margin-top: 20px;
}
#section ul.category li{
	float: left;
	list-style-type: none;
	margin-right: 20px;
	margin-top: 10px;
}
#section .list{
	margin-top: 40px;
	background-color: #fff;
}
#section ul.category li a{
	padding: 10px 20px;
	display: block;
	border: 2px solid #fff;
	font-size: 14px;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
}
#section .list dl{
	padding: 20px 50px;
}
#section .list dl dt{
	font-size: 20px;
	line-height: 40px;
}
#section .list dl dt a{
	color: #000;
	text-decoration: none;
}
#section .list dl dt a:hover{
	color: #0b3f75;
}
#section .list dl dd{
	font-size: 12px;
	padding-bottom: 20px;
}
#section .list dl dd p.time{
	color: #0b3f75;
	line-height: 25px;
}
#section .list dl dd p.desc{
	line-height: 22px;
	color: #555;
}
#footer{
	margin-top: 40px;
	background: #000;
}
#footer p{
	line-height: 60px;
	text-align: center;
	color: #666;
	font-size: 12px;
}